.commands {
    padding: 3% 5%;
}

.command-box .title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.command-box .title h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.command-box .title .new {
    background: #4717f6;
    padding: 0 5px;
    margin-top: 3px;
    margin-left: 5px;
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
}

.command-box .title .cat {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
}

.command-box {
    cursor: pointer;
    margin-top: 5px;
    background-color: rgba(162, 57, 202);
    padding: 10px;
    border-radius: 5px;
}

.command-box .description {
    font-size: 15px;
}

.command-box p {
    padding: 2px 0;
}

.command-box hr {
    margin: 3px 0;
    opacity: 0.2;
}

.subcommand {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    margin-top: 5px;
}

code {
    background-color: #281375;
    border-radius: 5px;
    padding: 3px 5px;
}

.info {
    display: none;
}

.show {
    display: block;
}

.command-box .cat i {
    transition: 0.20s;
}

.search {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    border: 3px solid #5a2f5f;
    background: #5a2f5f;
    padding: 5px 10px;
    width: 60%;
    border-radius: 5px;
    outline: none;
    font-family: "Poppins";
    transition: 0.5s;
    color: rgba(162, 57, 202);
}

input[type="text"]:focus {
    border: 3px solid white;
    background: white;
}

::-webkit-input-placeholder {
    color: rgba(162, 57, 202);
}
::-moz-placeholder {
    color: rgba(162, 57, 202);
}
:-ms-input-placeholder {
    color: rgba(162, 57, 202);
}
:-moz-placeholder {
    color: rgba(162, 57, 202);
}

.noResults {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.noResults img {
    width: 20%;
    padding-bottom: 10px;
}